/* #ED4C67 */
/* #ff6b6b */

.card {
    background-color: #ed4c67;
    border-radius: 5px;
    padding: 20px;
    /* width: 80%; */
    /* margin: 0 auto; */
}

/* div {
    width: 90%;
    margin: 0 auto;
} */
